# Node Modules
node_modules/


#logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies Directories
jspm_packages/

# Environment Variables
.env
# Explicitly allowed. No sensitive data here. Just specifies port number for the react app.
!/frontend/.env